# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv/
venv/
ENV/
backend/.env
backend/.venv/


# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/
.coverage
coverage.xml

site/

.DS_Store

